<div class="bg-white" id="mycourse">
  <div
    class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
  >
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">My Courses</h2>

    <div
      class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
    >
      <div class="group relative">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="../../assets/images/0_1VyCqSN0pdtXitey.jpg"
            alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
            class="h-full w-full object-cover object-center group-hover:opacity-75"
            width="325"
            height="216"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                NestJS Full Course 2023
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">
              Begineer to Pro. full course 2023.
            </p>
          </div>
          <p class="text-sm font-medium text-gray-900">$10</p>
        </div>
      </div>
      <div class="group relative">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="../../assets/images/angular.png"
            alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
            class="h-full w-full object-cover object-center group-hover:opacity-75"
            width="325"
            height="216"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Angular Full Course 2023
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">
              Begineer to Pro. full course 2023.
            </p>
          </div>
          <p class="text-sm font-medium text-gray-900">$11</p>
        </div>
      </div>
    </div>
  </div>
</div>
