<div
  class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0"
  id="aboutme"
>
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg
      class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
      aria-hidden="true"
    >
      <defs>
        <pattern
          id="e813992c-7d03-4cc4-a2bd-151760b470a0"
          width="200"
          height="200"
          x="50%"
          y="-1"
          patternUnits="userSpaceOnUse"
        >
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path
          d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
          stroke-width="0"
        />
      </svg>
      <rect
        width="100%"
        height="100%"
        stroke-width="0"
        fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"
      />
    </svg>
  </div>
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
  >
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-indigo-600">Buki</p>
          <h1
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            About Us
          </h1>
          <p class="mt-6 text-xl leading-8 text-gray-700">
            Welcome to Buki's Online Courses, where expertise meets education.
          </p>
        </div>
      </div>
    </div>
    <div
      class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
    >
      <img
        class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
        src="../../assets/images/Best-online-course-platforms.webp"
        alt=""
      />
    </div>
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div class="lg:pr-4">
        <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
          <p>
            <strong>Our Mission:</strong> At <strong>Buki</strong>, our mission
            is to provide top-quality online courses that empower individuals to
            learn and grow. We're dedicated to making knowledge accessible to
            all.
          </p>
          <br />
          <p>
            <strong>Why We Teach:</strong> Education is at the core of what we
            do. We believe that learning should be an enriching experience, and
            we're here to facilitate that journey.
          </p>
          <br />
          <p>
            <strong>Join Our Community:</strong> Enroll in our courses and
            become a part of our vibrant online learning community. Connect with
            fellow learners and share your educational journey.
          </p>
          <br />
          <p>
            <strong>Let's Get Started:</strong> Explore our course offerings and
            embark on a journey of discovery and growth. At
            <strong>Buki</strong>, we're here to help you succeed.
          </p>
          <p class="mt-8">
            Thank you for choosing <strong>Buki</strong> for your online
            learning needs. Together, we'll reach new heights in your
            educational pursuits.<br />
            <br />
            <strong>Best regards.</strong><br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
