body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  font-size: 18px;

  background-size: cover;
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 46px rgb(145, 44, 138);
  border-radius: 4px;
  background: #ffffff;
  font: 500 1rem "Quicksand", sans-serif;
}

input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
  font: 500 1rem "Quicksand", sans-serif;
  margin-bottom: 1rem;
}

input:focus {
  border-color: rgb(92, 29, 92);
  background: #ffffff;
}

.input1 {
  margin-top: 0;
}

.image2 {
  margin-bottom: 0;
}

h1 {
  margin-bottom: 2rem;
  text-align: center;
}

button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background: rgb(92, 29, 92);
  font: 500 1rem "Quicksand", sans-serif;
  margin-bottom: 1rem;
}

button:hover {
  background: rgb(92, 29, 92);
}

button:active {
  transform: scale(0.98);
}

a {
  text-align: center;
  color: rgb(92, 29, 92);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}
